#globe-icon {
  width: 40px;
  height: 40px;
}

.question-type {
  width: 300px;
  height: 300px;
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 1px rgba(120, 120, 120, 0.44);
}

.question-type:hover {
  border: 10px solid #0D6EFD;
  box-shadow: none;
}

.question-type > p {
  margin-top: 10px;
  font-size: 1.75rem;
}

.img-size {
  width: 200px;
  height: 200px;
}

.length {
  width: 300px;
}

a {
  text-decoration: none;
  color: black;
}
