* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* text-align: center; */
    background-color: #f4f4f4;
}

.quiz-container {
    /* max-width: 600px; */
    /* margin: 0 auto; */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#question {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.answer-radio {
    display: block;
    margin-bottom: 10px;
}

.answer-block {
    margin-bottom: 10px;
    border: 1px solid #0D6EFD;
    padding: 20px;
    border-radius: 50px;
    max-width: 300px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
}

.answer-block:hover {
    background-color: #0D6EFD;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

input {
    margin-right: 10px;
}

#submit-button {
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 10px 20px;
    background-color: #0D6EFD;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}